@import url(//fonts.googleapis.com/css?family=Tauri);

body {
  background:url(/bg.svg) 0% 0%;
  font-family:tauri;
  font-size:13px;
}

h1, h2, h3, h4, h5 {
  text-shadow:1px 1px 1px #ddd;
  font-size:13px;
}

h1 { font-size:180%; }
h2 { font-size:160%; }

.title, .location {
  color:#444;
}

.title:before, .location:before {
  font-family:"pictos";
  color:#ccc;
}

.title:before {
  content:"O";
}

.location:before {
  content:"G";
}

.profile img {
  border-radius:50px;
  box-shadow: 2px 2px 4px #ccc;
}

#header { 
  padding:0.5em 1em;
  > * {
    display:inline-block;
    vertical-align:middle;
    margin:0em 2em 0em 0em;
  }
  > *:first-child {
    margin-left:0em;
  }
}

#experience {
  margin-top:2em;
  .link:before, .languages:before, .role:before, .description:before, .github:before {
    content: " - ";
  }
  h2 { 
  margin-bottom: 0.5em;
    font-family:tauri; 
  }
}

#wrap {
  background:rgba(255,255,255,0.4);
  padding:1em;
  margin:2em auto;
  max-width:800px;
}

#main {
  padding:1em 2em;
  background:white;
  #introduction, #experience {
    border-top:1px solid #ddd;
  }
  #experience {
    margin-top:2.5em;
  }
}

#introduction {
  font-size:14px;
  line-height:2em;
  padding-top:1.5em;
}

#experience img {
  width:200px;
  max-height:155px;
  margin-right:1em;
  float:left;
  border:1px solid #ccc;
}

#experience h3 {
  display: inline-block;
  border-bottom: 1px dotted #aaa;
  padding: 0.2em;
}

#experience > div {
  margin-top:2em;
  height:180px;
}

#contact {
  margin:1em;
  text-align:center;
  & > * {
    font-size:18px;
    font-weight:bold;
    display:inline-block;
    margin-right:2em;
    &:before {
      position:relative;
      left:-1em;
      content: '\2022';
      color:#ccc;
    }
    &:first-child:before {
      content:"";
    }
  }
}
