body {
  font-family: Consolas, monaco, monospace;
  font-size:13px;
  margin:0.5em 1em;
  background:#eee;
}

h1, h2, h3, h4, h5 {
  font-size:13px;
  font-family: verdana, arial, sans-serif;
}

h1 { font-size:120%; }
h2 { font-size:110%; }

#header { 
  padding:0.5em;
  > * {
    display:inline-block;
    vertical-align:bottom;
    margin-left:2em;
  }
  > *:first-child {
    margin-left:0em;
  }
}

#experience {
  margin-top:2em !important;
  .link:before, .languages:before, .role:before, .description:before, .github:before {
    content: " - ";
  }
}

#introduction {
  font-size:12px;
  font-family:verdana;
  margin-top:2em !important;
}

#main {
  background:white;
  border:1px solid #ddd;
  padding:1em;
  margin:1em auto;
  max-width:800px;
  #introduction, #experience {
    margin-top:1.5em;
    padding-top:0.5em;
    border-top:1px solid #ddd;
  }
}

#contact .label {
  width:65px;
  display:inline-block;
}
