body {
  font-family: Consolas, monaco, monospace;
  font-size:13px;
  margin:0.5em 1em;
}

pre { 
  margin:0;
}

h1, h2, h3, h4, h5 {
  font-size:13px;
  font-family: verdana, arial, sans-serif;
}

h1 { font-size:120%; }
h2 { font-size:110%; }

#header { 
  border-bottom:1px solid #eee;
}

#header > * {
  display:inline-block;
  vertical-align:bottom;
  margin-left:2em;
}

#header > *:first-child {
  margin-left:0em;
}

.link:before, .languages:before, .role:before, .description:before {
  content: " - ";
}

#introduction {
  font-size:12px;
  font-family:verdana;
}

#main > * {
  margin-top:1em;
}

#experience {
  margin-top:2em;
}

#contact .label {
  width:60px;
  display:inline-block;
}
